<nav class="navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/img/food-7248455_1280.webp" alt="" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
        </a>
</nav>